/* 添加流式输出的闪烁光标动画 */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-cursor {
  animation: blink 1s infinite;
  display: inline-block;
  font-weight: bold;
  color: #666;
}
